
<!DOCTYPE html>
<html>
  <head>
    <title>Services</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Services</h1>
    <p>This is a list of cour services.</p>
  </body>
</html>